@use '../abstracts' as *;

body {
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: $dark-gray;
  background-color: $white;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3,
h4 {
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 0 0 16px 0;
}

a {
  color: inherit;
  text-decoration: none;
}
